/* Variables and Global Styles */
:root {
  --primary: #dc8484;
  --secondary: #ff5252;
  --background: #eee;
  --highlight: #ffda79;
  --theme: var(--primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #faf6f6;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3 {
  margin: 0.5rem;
}

/* Layout and Structure */
.information {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  margin: 1rem;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  padding: 1rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(185, 183, 183, 0.5);
}

.right p {
  text-align: center;
  width: 90%;
  margin: 0.5rem;
}

.coursework,
.skills,
.projects,
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coursework,
.skills {
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
}

.coursework {
  width: 75%;
}

.cards {
  display: flex;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 25rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #eec9c9;
  text-align: center;
  gap: 0.2rem;
}

.card p,
.tab__content p {
  margin: 0.2rem;
}

.card img {
  width: 8rem;
  height: 5rem;
  object-fit: cover;
}

/* Accordion and Tab Styles */
.accordion {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  margin: 1rem 0;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}

.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

.tab__label,
.tab__close {
  display: flex;
  background: var(--theme);
  cursor: pointer;
  color: white;
}

.tab__label {
  justify-content: space-between;
  padding: 1rem;
  content: "\25BA";
}

.tab input:checked + .tab__label::after {
  content: "\25BC";
}

.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

/* Button Styles */
.btn {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #8b3636;
  color: white;
  margin: 0.5rem;
  text-decoration: none;
}

/* Animations */
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}

/* Image Scrolling */
.image-wrapper {
  overflow: hidden;
  width: 100%;
}

.image-row {
  display: flex;
  white-space: nowrap;
  animation: scroll 70s linear infinite;
}

.image-row img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

/* Mobile devices (width up to 700px) */
@media (max-width: 700px) {
  .information,
  .left,
  .right,
  .coursework,
  .cards,
  .card {
    flex-direction: column;
    align-items: center;
  }

  .left,
  .right {
    max-width: 100%;
    width: 50rem;
  }

  .skills {
    display: flex;
    align-items: center;
  }

  .coursework {
    gap: 0.5rem;
    height: auto;
  }

  .coursework {
    height: auto;
  }
  .tab__content {
    height: 15rem;
  }
  .skills {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .container {
    margin-bottom: 0;
  }

  .card {
    width: 90%;
    align-items: center;
  }

  h1,
  h2,
  h3 {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 1200px) {
  .projects,
  .container,
  .cards {
    display: flex;
    flex-direction: column;
  }
}
